body {
    font-family: "Tahoma", sans-serif;
    color: #333333
}
h1 {color: #8B0000;
    font-weight: bold;}
h5 {color: #8fcbe4}
h4 {color: #76bddc}
h3 {color: #5a9cc7}
h2 {color: #285c83}

.navbar-brand img {
    height: auto;
    max-width: 300px;
}
.bd-search .fa-magnifying-glass {
    display: none;
}
.search-button__kbd-shortcut {
    border-radius: 4px;
    font-size: 0.5em;
}
.toctree-l1 .reference {
    color: #8B0000;
}
.toctree-l2 .reference {
    font-weight: bold;
    color: #a6a1a1;
}
.toctree-l3 .reference {
    font-weight: normal;
    color: #5a9cc7;
}
.toctree-l4 .reference {
    font-weight: normal;
    color: #8fcbe4;
}

.sidebar-primary-item a {color: #285c83}
html[data-theme="dark"] {
    background-color: #575555;
    --pst-color-on-background: #09142f;
}
.py.class .sig {
    background-color: #e6f3fa;
    padding: 0.5em;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1em;
}
.py.function .sig-param {
    font-weight: bold;
    color: #333333;
}
.py.class .sig-param .default_value,
dl.py.function .sig-param .default_value,
dl.py.method .sig-param .default_value {
    color: gray;
    font-weight: normal;
    font-style: italic;
}
dl.py.property .sig, dl.py.method .sig {
    background-color: transparent;
}
dl.py.property .sig-name {
    background-color: transparent;
    font-weight: bold;
    color: #007acc;
}
dl.py.method .sig-name {
    background-color: transparent;
    font-weight: bold;
    color: #8B0000;
}
